*.o
*.swp
*.tmp
*.bak
*.backup

tsplay/tsplay
common/es_test
esdots/esdots
es2ts/es2ts
esfilter/esfilter
esmerge/esmerge
esreport/esreport
esreverse/esreverse
m2ts2ts/m2ts2ts
pcapreport/pcapreport
psdots/psdots
psreport/psreport
rtp2264/rtp2264
stream_type/stream_type
