*.o
*.swp
*.tmp
*.bak
*.backup

*.pro
*.pro.user
build-*/

common/es_test
common/nal_unit_list_test
common/pes_test
common/printing_test

tsplay/tsplay
esdots/esdots
es2ts/es2ts
esfilter/esfilter
esmerge/esmerge
esreport/esreport
esreverse/esreverse
m2ts2ts/m2ts2ts
pcapreport/pcapreport
psdots/psdots
psreport/psreport
rtp2264/rtp2264
stream_type/stream_type
ps2ts/ps2ts
ts2es/ts2es
ts2ps/ts2ps
ts_packet_insert/ts_packet_insert
tsdvbsub/tsdvbsub
tsfilter/tsfilter
tsinfo/tsinfo
tsreport/tsreport
tsserve/tsserve

tags
